@import './config-scss/variables.scss';
@import './config-scss/reset.scss';
@import './config-scss/rem-cal.scss';
@import './config-scss/btn.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,700&display=swap');

html {
  font-family: 'Roboto', sans-serif;
  background: var(--primary-color);
}

main {
  width: rem-cal(600);
  margin: 0 auto;
  box-sizing: border-box;
}
